

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden ;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

#hero {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(background.jpeg); 
  background-size: cover;
 height: 600px;
  color: #fff;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
  }
  li {
      font-weight: 700;
      margin: 0 1rem;
    }


.content {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto;
  font-size: 4rem;
}
  button {
    font-size: 2rem;
    background-color: #3371d6;
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    transition: all .3s ease;
    cursor: pointer;
  }
  button:hover {
      background-color: #204582;
    }
   .modal{
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   } 
   .modal-hidden{
    display: none;
   }
   .modal-contents{
    background-color: #fff;
    padding: 2rem 4rem;
   }
   input[type=email]{
    width: 100%;
    padding: .5rem
   }
.modal-contents button{
  width: 100%;
  padding: .5rem;
  background-color: #3371d6;
  border:none;
  color:#fff;
  transition: all .3s ease;
  cursor: pointer;
} 
.modal-close-bar{
  display: flex;
  justify-content: flex-end;
  margin-right: .2rem;
  margin-top: .1rem;
  cursor: pointer;
}


